@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme (default) */
    --primary-text: #000000;
    --secondary-text: #333333;
    --tertiary-text: #616161;
    --primary-bg: #f6f6f6;
    --secondary-bg: #ffffff;
    --tertiary-bg: #ececec;
    
    --background: 0 0% 96%;  /* #f6f6f6 */
    --foreground: 0 0% 0%;   /* #000000 */

    --card: 0 0% 100%;       /* #ffffff */
    --card-foreground: 0 0% 20%; /* #333333 */

    --popover: 0 0% 100%;    /* #ffffff */
    --popover-foreground: 0 0% 20%; /* #333333 */

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 93%;   /* #ececec */
    --secondary-foreground: 0 0% 38%; /* #616161 */

    --muted: 0 0% 93%;       /* #ececec */
    --muted-foreground: 0 0% 38%; /* #616161 */

    --accent: 0 0% 93%;      /* #ececec */
    --accent-foreground: 0 0% 20%; /* #333333 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90%;      /* #e6e6e6 */
    --input: 0 0% 90%;       /* #e6e6e6 */
    --ring: 222.2 84% 4.9%;

    --radius: 0.75rem;
  }

  .dark {
    /* Dark theme */
    --primary-text: #ffffff;
    --secondary-text: #a0a0a0;
    --tertiary-text: #777777;
    --primary-bg: #1a1a1a;
    --secondary-bg: #272727;
    --tertiary-bg: #3a3a3a;
    
    --background: 0 0% 10%;    /* #1a1a1a */
    --foreground: 0 0% 100%;   /* #ffffff */

    --card: 0 0% 15%;          /* #272727 */
    --card-foreground: 0 0% 63%; /* #a0a0a0 */

    --popover: 0 0% 15%;       /* #272727 */
    --popover-foreground: 0 0% 100%; /* #ffffff */

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 23%;     /* #3a3a3a */
    --secondary-foreground: 0 0% 63%; /* #a0a0a0 */

    --muted: 0 0% 23%;         /* #3a3a3a */
    --muted-foreground: 0 0% 47%; /* #777777 */

    --accent: 0 0% 23%;        /* #3a3a3a */
    --accent-foreground: 0 0% 100%; /* #ffffff */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 25%;        /* #3f3f3f */
    --input: 0 0% 25%;         /* #3f3f3f */
    --ring: 212.7 26.8% 83.9%;
  }

  /* Variações de cores primárias */
  .theme-red {
    --primary: 0 72% 51%;
    --primary-foreground: 210 40% 98%;
    --ring: 0 72% 51%;
  }
  .theme-orange {
    --primary: 21 90% 48%;
    --primary-foreground: 210 40% 98%;
    --ring: 21 90% 48%;
  }

  .theme-yellow {
    --primary: 45 93% 47%;
    --primary-foreground: 26 83.3% 14.1%;
    --ring: 45 93% 47%%;
  } 
  
  .theme-green {
    --primary: 84 81% 44%;
    --primary-foreground: 355.7 100% 97.3%;
    --ring: 84 81% 44%;
  }

  .theme-blue {
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --ring: 221.2 83.2% 53.3%;
  }

  .theme-purple {
    --primary: 266 81% 58%;
    --primary-foreground: 210 40% 98%;
    --ring: 266 81% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Roboto Mono', monospace;
  }

  body {
    @apply text-foreground antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    font-family: 'Roboto Mono', monospace;

  }
}

@layer utilities {
  .glass {
    @apply bg-white/20 backdrop-blur-lg border border-white/30 shadow-lg;
  }
  
  .glass-dark {
    @apply bg-black/20 backdrop-blur-lg border border-white/10 shadow-lg;
  }
  
  .text-balance {
    text-wrap: balance;
  }
}
